<div class="outer-container home-nav-outer">
  <section class="container">
    <nav class="home-nav">
      <ul>
        <li class="logo">
          <a href=""/>Gifts For <br> <span class="secondary">Less</span></a>
        </li>
        <li class="filter">
          <md-input-container class="md-block" flex-gt-sm>
            <label class="filter-label">Holidays</label>
            <md-select ng-model="selectedHoliday">
              <md-option ng-repeat="holiday in holidays" value="{{holiday}}">
                {{holiday}}
              </md-option>
            </md-select>
          </md-input-container>
        </li>
        <li class="filter">
          <md-input-container class="md-block" flex-gt-sm>
            <label class="filter-label">Sort By</label>
            <md-select ng-model="selectedSort">
              <md-option ng-repeat="sorts in sort" value="newest">
                {{sort}}
              </md-option>
            </md-select>
          </md-input-container>
        </li>
      </ul>
    </nav>
  </section>
</div>

<div class="outer-container">
  <section class="slider container">
    <md-slider-container>
      <span class="slider-description">
        $0.00
      </span>
      <md-slider flex="" step="5" min="0" max="100" ng-model="price" aria-label="price">
      </md-slider>
        <span class="slider-description">
          {{price | currency}} <span ng-if="price >= 100">+</span>
        </span>
    </md-slider-container>
  </section>
</div>

<div class="outer-container">
  <section class="container">
    <md-card ng-repeat="product in products" class="product-card">
      <img ng-src="{{product.image_url}}" class="md-card-image product-image" alt="{{product.name}}" ng-click="goTo(product.affiliate_link)">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{product.name}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p class="product-description" ng-bind="product.description" data-ellipsis></p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button md-no-ink class="md-primary product-price">{{product.price/100 | currency}}</md-button>
        <a ng-href="{{product.affiliate_link}}"><md-button class="md-raised md-primary">View This</md-button></a>
      </md-card-actions>
    </md-card>
  </section>
</div>
