@font-face{
    font-family: 'SeanHand';
    src: font-url("Hand_Of_Sean_Demo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

///

$neat-grid: (
  columns: 12,
  gutter: 20px,
);

$x-large-grid: (
  columns: 12,
  gutter: 45px,
  media: 1200px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr
);

$large-grid: (
  media: 860px
);

$medium-grid: (
  media: 650px
);

$small-grid: (
  media: 480px
);

$x-small-grid: (
  media: 0px
);

///

* {
  margin: 0px;
  padding: 0px;
}

/// Sticky Footer - https://css-tricks.com/couple-takes-sticky-footer/
html, body {
  height: 100%;
  margin: 0;
}

.container {
  @include grid-container;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 100%;
  max-width: 960px;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -0;
}
.footer,
.push {
  height: 65px;
}
