.home-nav-outer {
  background-color: rgb(255,193,7);
  padding-top: 20px;
  height: 150px;
  color: white;
  margin-bottom: -75px;
}

.home-nav {
  @include grid-column(12);

  ul {
    list-style-type: none;

    li {
      display: inline-block;

      &.logo {
        float: left;
        width: 150px;
        height: 50px;
      }

      &.filter {
        float: right;
        max-width: 200px;
        @include grid-media($x-small-grid){
          margin-left: 20px;
        }

        @include grid-media($medium-grid){
          margin-left: 35px;
        }

        // .filter-label {
        //   color: rgba(255, 255, 255, .5);
        // }
        //
        // .md-input-focused {
        //   .md-text {
        //     color: rgba(255, 255, 255, 1);
        //
        // }
      }
    }
  }
}
