.slider {
  @include grid-media($x-small-grid){
    @include grid-column(12);
  }

  @include grid-media($medium-grid){
    @include grid-column(8);
    @include grid-push(2);
  }

  .slider-description {
    max-width: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  md-slider .md-thumb{
    top: -9px;
  }
}
