.product-card {
  margin: 0px 0px 35px auto;
  @include grid-media($x-small-grid){
    @include grid-column(10);
    @include grid-push(1);
  }

  @include grid-media($medium-grid){
    @include grid-column(6);
    @include grid-push(0);
  }

  @include grid-media($large-grid){
    @include grid-column(4);
  }
}

.product-image {
  cursor: pointer;
}

.product-name-container {
  height: 65px;
}

.product-name {
  @include grid-media($x-small-grid){
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  @include grid-media($small-grid){
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

}

.product-description {
  height: 75px;
  overflow: auto;
}

.product-price {
  font-size: 21px;
}

.product-name {
  // max-width: 100px;
  // display: inline-block;
}
