.product-card {
  margin: 0px 0px 35px auto;
  @include grid-media($x-small-grid){
    @include grid-column(10);
    @include grid-push(1);
  }

  @include grid-media($medium-grid){
    @include grid-column(6);
    @include grid-push(0);
  }

  @include grid-media($large-grid){
    @include grid-column(4);
  }
}

.product-image {
  cursor: pointer;
}

.product-description {
  height: 75px;
  overflow: auto;
}

.product-price {
  font-size: 21px;
}
